# HW1 - 高等中學應屆畢業生升學狀況分析

資料來源：https://data.gov.tw/dataset/9625

In [179]:
import pandas as pd

# 讀取原始資料
df_109 = pd.read_csv('./109_1_2_1.csv')
df_109.set_index(['學程別','設立別', '性別'], inplace=True)

# 將比率和人數分成不同 DataFrame
df_109_rate = df_109[df_109.filter(regex='比率').columns]
df_109_num = df_109[df_109.filter(regex='人數').columns]

df_109.head(10)

             畢業生人數  公立大學日間部人數  公立大學進修學士班人數  私立大學日間部人數  私立大學進修學士班人數  公立二專日間部人數  \
學程別  設立別 性別
普通科  國立  男   11520       6037           72       4378           35          0
         女   11694       5274           62       5875           46          0
     縣市立 男   21848       9537           66      10722          192          0
         女   23220       8886           80      13339          172          2
     私立  男   11097       3511           53       6242          204          7
         女   11022       2851           37       7293          143          1
專業群科 國立  男   12233       4643          562       4256          307         73
         女    8745       3236          287       4027          126         28
     縣市立 男    8709       4463          347       3011          117         18
         女    5464       2448           93       2529           50          9

             公立二專進修(夜間)部人數  私立二專日間部人數  私立二專進修(夜間)部人數  警察大學人數  ...  \
學程別  設立別 性別                                                   ...
普通科  國立  男               0          0              0      18  ...
         女               0          1              0       2  ...
     縣市立 男               1          0              0      22  ...
         女               0          1              0       2  ...
     私立  男               0          4              0      26  ...
         女               1          4              0      10  ...
專業群科 國立  男               3          9              9       0  ...
         女              10          6              7       1  ...
     縣市立 男               3          5              0       0  ...
         女               2          1              0       0  ...

             私立大學進修學士班比率  公立二專日間部比率  公立二專進修(夜間)部比率  私立二專日間部比率  私立二專進修(夜間)部比率  \
學程別  設立別 性別
普通科  國立  男          0.30       0.00           0.00       0.00           0.00
         女          0.39       0.00           0.00       0.01           0.00
     縣市立 男          0.88       0.00           0.00       0.00           0.00
         女          0.74       0.01           0.00       0.00           0.00
     私立  男          1.84       0.06           0.00       0.04           0.00
         女          1.30       0.01           0.01       0.04           0.00
專業群科 國立  男          2.51       0.60           0.02       0.07           0.07
         女          1.44       0.32           0.11       0.07           0.08
     縣市立 男          1.34       0.21           0.03       0.06           0.00
         女          0.92       0.16           0.04       0.02           0.00

             警察大學比率  警察專科學校比率  軍事院校比率  赴國外_大陸就讀比率  其他學校比率
學程別  設立別 性別
普通科  國立  男     0.16      1.18    2.25        0.62    0.03
         女     0.02      0.09    1.22        0.58    0.02
     縣市立 男     0.10      0.44    1.31        0.32    0.02
         女     0.01      0.07    0.52        0.66    0.01
     私立  男     0.23      0.42    1.97        3.14    0.06
         女     0.09      0.05    0.70        3.38    0.00
專業群科 國立  男     0.00      0.02    1.05        0.02    0.03
         女     0.01      0.01    0.55        0.02    0.02
     縣市立 男     0.00      0.06    0.55        0.06    0.00
         女     0.00      0.00    0.37        0.07    0.00

[10 rows x 28 columns]

### Q1: 這份資料中各學程別、設立別、性別的畢業生共有多少？

In [163]:
#學程別
pd.DataFrame( df_109.groupby('學程別')['畢業生人數'].sum() )

        畢業生人數
學程別
實用技能學程   7905
專業群科    75588
普通科     90401
綜合高中     9263
進修部      8752

In [164]:
#設立別
pd.DataFrame( df_109.groupby('設立別')['畢業生人數'].sum() )

     畢業生人數
設立別
國立   52092
私立   76492
縣市立  63325

In [165]:
#性別
pd.DataFrame( df_109.groupby('性別')['畢業生人數'].sum() )

    畢業生人數
性別
女   92281
男   99628

### Q2: 各行(row)的比率相加是否確實等於升學率？

In [166]:
res = pd.DataFrame({'sum' : df_109_rate.sum(axis=1)})
res['升學率'] = df_109['升學率']
res['差值'] = res['sum']-res['升學率']

res

                 sum    升學率            差值
學程別    設立別 性別
普通科    國立  男   95.57  95.56  1.000000e-02
           女   98.20  98.20  0.000000e+00
       縣市立 男   96.10  96.11 -1.000000e-02
           女   98.08  98.07  1.000000e-02
       私立  男   96.13  96.14 -1.000000e-02
           女   97.96  97.94  2.000000e-02
專業群科   國立  男   81.72  81.75 -3.000000e-02
           女   88.96  88.98 -2.000000e-02
       縣市立 男   92.11  92.11  0.000000e+00
           女   94.36  94.36  0.000000e+00
       私立  男   73.26  73.29 -3.000000e-02
           女   81.89  81.86  3.000000e-02
綜合高中   國立  男   93.08  93.10 -2.000000e-02
           女   96.62  96.63 -1.000000e-02
       縣市立 男   95.02  95.00  2.000000e-02
           女   96.65  96.64  1.000000e-02
       私立  男   83.91  83.90  1.000000e-02
           女   91.69  91.67  2.000000e-02
實用技能學程 國立  男   58.80  58.80  0.000000e+00
           女   71.15  71.14  1.000000e-02
       縣市立 男   63.58  63.57  1.000000e-02
           女   68.42  68.42 -1.421085e-14
       私立  男   45.58  45.58  7.105427e-15
           女   52.56  52.56 -2.131628e-14
進修部    國立  男   36.72  36.72  0.000000e+00
           女   34.72  34.71  1.000000e-02
       縣市立 男   47.55  47.54  1.000000e-02
           女   41.20  41.20 -1.421085e-14
       私立  男   19.61  19.61  3.552714e-15
           女   26.86  26.86 -3.552714e-15

### Q3: 各學程別、設立別、性別的升學率分別是多少？

In [167]:
st_num = pd.DataFrame({'畢業生人數':df_109['畢業生人數'], '升學人數':round(df_109['畢業生人數'] * df_109['升學率'])})

# 學程別
res = st_num.groupby('學程別').sum()
res['升學率'] = round(res['升學人數'] / res['畢業生人數'], 2)
res.sort_values(by='升學率', ascending=False)

        畢業生人數       升學人數    升學率
學程別
普通科     90401  8772559.0  97.04
綜合高中     9263   863800.0  93.25
專業群科    75588  6230152.0  82.42
實用技能學程   7905   419482.0  53.07
進修部      8752   252507.0  28.85

In [168]:
# 設立別
res = st_num.groupby('設立別').sum()
res['升學率'] = round(res['升學人數'] / res['畢業生人數'], 2)
res.sort_values(by='升學率', ascending=False)

     畢業生人數       升學人數    升學率
設立別
縣市立  63325  6009055.0  94.89
國立   52092  4612890.0  88.55
私立   76492  5916555.0  77.35

In [169]:
# 性別
res = st_num.groupby('性別').sum()
res['升學率'] = round(res['升學人數'] / res['畢業生人數'], 2)
res.sort_values(by='升學率', ascending=False)

    畢業生人數       升學人數    升學率
性別
女   92281  8215687.0  89.03
男   99628  8322813.0  83.54

### Q4: 各個大專學制中應屆畢業生的男女比例

In [170]:
group_res = df_109_num.groupby('性別').sum()
res = pd.DataFrame({'畢業生人數':group_res.sum(), '女性比例' : round(group_res.iloc[0]/group_res.sum(), 2)})
res

                畢業生人數  女性比例
畢業生人數          191909  0.48
公立大學日間部人數       57489  0.45
公立大學進修學士班人數      3581  0.40
私立大學日間部人數       93358  0.54
私立大學進修學士班人數      6470  0.44
公立二專日間部人數         319  0.44
公立二專進修(夜間)部人數     182  0.60
私立二專日間部人數         182  0.52
私立二專進修(夜間)部人數     234  0.56
警察大學人數             96  0.19
警察專科學校人數          353  0.10
軍事院校人數           1815  0.30
赴國外_大陸就讀人數       1189  0.55
其他學校人數            119  0.65

### Q5: 哪種畢業生最願意讀此大專學制？（哪種畢業生的比率最高）

In [189]:
max_idx = df_109_rate.idxmax(axis=0)
max_rate = df_109_rate.max(axis=0)
res = pd.DataFrame({'最高比率':max_rate, '畢業生類型':max_idx})

# 以畢業生類型當作index去取對應類型畢業生的升學率
res['此類型畢業生升學率'] = res.apply(lambda row: df_109.xs(row['畢業生類型'])['升學率'], axis=1)
res['占比'] = round(res['最高比率']/res['此類型畢業生升學率'], 2)

res

                最高比率             畢業生類型  此類型畢業生升學率    占比
公立大學日間部比率      52.40      (普通科, 國立, 男)      95.56  0.55
公立大學進修學士班比率    22.14  (實用技能學程, 縣市立, 男)      63.57  0.35
私立大學日間部比率      74.86    (綜合高中, 縣市立, 女)      96.64  0.77
私立大學進修學士班比率    25.36  (實用技能學程, 縣市立, 男)      63.57  0.40
公立二專日間部比率       1.51   (實用技能學程, 國立, 女)      71.14  0.02
公立二專進修(夜間)部比率   3.16  (實用技能學程, 縣市立, 女)      68.42  0.05
私立二專日間部比率       0.98   (實用技能學程, 私立, 女)      52.56  0.02
私立二專進修(夜間)部比率   1.72      (進修部, 私立, 女)      26.86  0.06
警察大學比率          0.23      (普通科, 私立, 男)      96.14  0.00
警察專科學校比率        1.18      (普通科, 國立, 男)      95.56  0.01
軍事院校比率          2.96     (綜合高中, 國立, 男)      93.10  0.03
赴國外_大陸就讀比率      3.38      (普通科, 私立, 女)      97.94  0.03
其他學校比率          1.65      (進修部, 國立, 女)      34.71  0.05

### Q6: 高中設立別與大專院校設立別的關係

In [192]:
group_res = df_109_num.groupby('設立別').sum()
res = pd.DataFrame({'公立大專人數':group_res.filter(regex='公立').sum(axis=1),'私立大專人數':group_res.filter(regex='私立').sum(axis=1)})

res.insert(0, '總人數', group_res['畢業生人數'])
res.index += '高中'
res['公立大專比率'] = round(res['公立大專人數'] / res['畢業生人數'], 2)
res['私立大專比率'] = round(res['私立大專人數'] / group_res['畢業生人數'], 2)
res = res.drop(columns=['公立大專人數', '私立大專人數'])
res

         總人數  公立大專比率  私立大專比率
設立別
國立高中   52092     NaN     NaN
私立高中   76492     NaN     NaN
縣市立高中  63325     NaN     NaN

### Q7: 各大專學制學生來源分佈

#### 依學程別

In [173]:
res = df_109_num.drop(columns='畢業生人數').groupby('學程別').sum().transpose()

res.index = pd.Series(res.index).apply(lambda s: s[:-2]) #刪除'人數'二字
res = res.add_suffix('比率')


res.columns.name = None
total_st = res.sum(axis=1)
res = res.div(total_st, axis=0).apply(lambda x: round(x, 2))
res.insert(0, '總人數', total_st)
res

               總人數  實用技能學程比率  專業群科比率  普通科比率  綜合高中比率  進修部比率
公立大學日間部      57489      0.01    0.33   0.63    0.04   0.00
公立大學進修學士班     3581      0.07    0.72   0.10    0.04   0.07
私立大學日間部      93358      0.03    0.39   0.51    0.06   0.01
私立大學進修學士班     6470      0.13    0.54   0.12    0.03   0.18
公立二專日間部        319      0.12    0.79   0.03    0.01   0.05
公立二專進修(夜間)部    182      0.16    0.49   0.01    0.00   0.34
私立二專日間部        182      0.25    0.61   0.05    0.00   0.08
私立二專進修(夜間)部    234      0.12    0.49   0.00    0.00   0.39
警察大學            96      0.05    0.06   0.83    0.04   0.01
警察專科學校         353      0.00    0.04   0.88    0.06   0.02
軍事院校          1815      0.02    0.28   0.61    0.08   0.01
赴國外_大陸就讀      1189      0.00    0.05   0.91    0.04   0.00
其他學校           119      0.01    0.60   0.15    0.02   0.23

#### 伊設立別

In [180]:
res = df_109_num.drop(columns='畢業生人數').groupby('設立別').sum().transpose()

res.index = pd.Series(res.index).apply(lambda s: s[:-2]) #刪除'人數'二字
res = res.add_suffix('高中比率')


res.columns.name = None
total_st = res.sum(axis=1)
res = res.div(total_st, axis=0).apply(lambda x: round(x, 2))
res.insert(0, '總人數', total_st)
res

               總人數  國立高中比率  私立高中比率  縣市立高中比率
公立大學日間部      57489    0.36    0.19     0.45
公立大學進修學士班     3581    0.35    0.43     0.21
私立大學日間部      93358    0.24    0.43     0.34
私立大學進修學士班     6470    0.14    0.73     0.13
公立二專日間部        319    0.39    0.50     0.10
公立二專進修(夜間)部    182    0.18    0.70     0.12
私立二專日間部        182    0.12    0.82     0.06
私立二專進修(夜間)部    234    0.15    0.84     0.01
警察大學            96    0.25    0.49     0.26
警察專科學校         353    0.48    0.18     0.34
軍事院校          1815    0.37    0.34     0.29
赴國外_大陸就讀      1189    0.14    0.67     0.20
其他學校           119    0.24    0.69     0.07

#### 依性別（同Q4）

In [175]:
res = df_109_num.drop(columns='畢業生人數').groupby('性別').sum().transpose()

res.index = pd.Series(res.index).apply(lambda s: s[:-2]) #刪除'人數'二字
res = res.add_suffix('性比率')


res.columns.name = None
total_st = res.sum(axis=1)
res = res.div(total_st, axis=0).apply(lambda x: round(x, 2))
res.insert(0, '總人數', total_st)
res

               總人數  女性比率  男性比率
公立大學日間部      57489  0.45  0.55
公立大學進修學士班     3581  0.40  0.60
私立大學日間部      93358  0.54  0.46
私立大學進修學士班     6470  0.44  0.56
公立二專日間部        319  0.44  0.56
公立二專進修(夜間)部    182  0.60  0.40
私立二專日間部        182  0.52  0.48
私立二專進修(夜間)部    234  0.56  0.44
警察大學            96  0.19  0.81
警察專科學校         353  0.10  0.90
軍事院校          1815  0.30  0.70
赴國外_大陸就讀      1189  0.55  0.45
其他學校           119  0.65  0.35